/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Sora', sans-serif;
  background-color: #E8E8E8;
  overflow-x: hidden; /* Evita scroll lateral */
}

.navbar {
  position: fixed;
  display: flex; 
  justify-content: space-between; /* Espaça a logo e o botão */
  align-items: center;
  padding: 10px 20px !important;
  background-color: #E8E8E8;
  height: 70px;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: #8485884b solid 1px;
}

.nav-links {
  display: flex;
  justify-content: center; /* Centraliza os links */
  align-items: center;
  list-style: none;
  padding: 0; 
}

.nav-links li {
  margin: 0 10px; /* Adiciona um espaço entre os itens */
}

.nav-links li a {
  text-decoration: none;
  color: #152446;
  font-weight: bolder;
  font-size: 24px;
  position: relative;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #2f63fb;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #2f63fb;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.cta-button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: #1845d5;
  color: white;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

.cta-button:hover {
  background-color: #0027ae;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.logo, a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #152446;
  gap: 0px;
  height: 100% !important; /* Adapta ao tamanho da navbar */
  margin-left: 15px;
  transition: opacity 0.3s ease; /* Suaviza a transição */
}


.logo img {
  max-height: 100%; /* Garante que a altura da imagem não ultrapasse a navbar */
  max-width: 205px; /* Mantém largura máxima específica */
  height: auto; /* Proporções corretas */
  width: auto; /* Mantém proporção */
}

.logo a {
  text-decoration: none;
  cursor: pointer;
}

.logo p {
  font-size: 29px;
  font-weight: bolder;
  color: #152446;
}

.logo img:hover, .logo:hover {
  opacity: 0.7; /* Define a opacidade no hover (ajustável entre 0 e 1) */
  cursor: pointer;
}

/* Layout Container */
.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
  width: 90%; /* Aumente o espaço para evitar que o texto quebre */
}

/* Contêiner Principal */
.main-container {
  width: 100%;
  height: 100vh !important;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wave-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -160px;
  left: 0;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.wave-container svg {
  display: block;
  width: 100%; /* Largura total */
  height: auto; /* Mantém a proporção original */
  transform: translateY(-0px);
}

/* Botão New Version */
.new-version-button {
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #E8E8E8;
  background-color: #0c36c1;
  border: 1px solid blue;
  border-radius: 32px;
  box-shadow: 0 4px 6px 0 #0027ae;
  padding: 10px 20px;
  margin-bottom: 20px; /* Espaçamento abaixo do botão */
  cursor: pointer;
}

/* Limite de Largura e Centralização do Texto */
.text-container {
  position: relative;
  margin-top: -150px !important;
  max-width: 900px; /* Limite menor da largura para dividir as linhas */
  width: 100%; /* Responsividade */
  word-wrap: break-word; /* Garante quebra de palavras */
}

/* Frase Principal */
.main-heading {
  font-family: 'Sora', sans-serif;
  font-size: 64px;
  color: #000000;
  font-weight: bold;
  line-height: 1.2; /* Ajuste de espaçamento entre linhas */
  margin: 0 0 20px; /* Margem inferior para espaçamento */
}

.main-heading span {
  color: #1845d5; /* Cor para "Agentes de IA" */
}

/* Subtítulo */
.subtitle {
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  color: #9ea3bf;
  margin: 10px 0 30px; /* Espaçamento entre subtítulo e botão */
}

/* Botão Get Started Now */
.get-started-button {
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #1845d5;
  background-color: transparent;
  border: 2px solid #0027ae;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 70px;
}

.get-started-button:hover {
  background-color: #1845d5;
  color: #E8E8E8;
}

/* Nova Seção Azul */
.blue-section {
  width: 100%; /* Garante que ocupe 100% da largura */
  background-color: #1845d5; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  padding: 50px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total da tela */
}

.blue-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blue-text {
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

.section {
  background-color: #E8E8E8;
  padding: 50px 20px;
  text-align: center;
}

.trusted-companies {
  position: relative;
  bottom: 30px;
  text-align: center;
  padding: 50px 20px;
  background-color: #E8E8E8;
}

.trusted-companies p {
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  top: 30px;
  color: #555;
  margin-bottom: 20px;
}

.companies {
  display: flex;
  position: relative;
  top: 75px;
  justify-content: center;
  gap: 50px;
}

.company {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.company img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.company img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.company-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #555;
  margin-top: 10px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 45px;
}

.help-transform {
  flex: 1 1 300px;
  text-align: left;
}

.help-transform h2 {
  font-size: 45px;
  margin-left: 50px;
  color: #0027AE;
  margin-bottom: 10px;
  max-width: 500px;
}

.help-transform p {
  font-size: 22px;
  color: #555;
  max-width: 400px;
  margin-left: 50px;
  margin-top: 10px;
}

.featuress {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  perspective: 1000px; /* Permite o efeito 3D */
  margin-left: auto;
}

.feature {
  background: linear-gradient(to bottom right, #2f63fb, #0027ae);
  color: white;
  border-radius: 15px;
  padding: 20px;
  margin-right: 15px;
  width: 350px; /* Largura fixa */
  min-height: 400px; /* Altura mínima para caber o conteúdo */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  position: relative;
  
}

.feature:hover {
  transform: rotateY(15deg) rotateX(5deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.feature-content {
  position: relative;
  text-align: left; /* Alinha o texto à esquerda */
  padding: 10px;
  justify-content: space-between; /* Espaça o conteúdo de forma que o botão fique na parte inferior */
  height: 300px; /* Defina uma altura fixa ou use uma altura mínima */
}

.feature-content h3 {
  font-size: 1.5em; /* Título destacado */
  margin-bottom: 10px;
}

.feature-content p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.feature-btn {
  padding: 10px 20px;
  background: white;
  color: #0027ae;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
  margin-top: auto; /* Garante que o botão fique na parte inferior */
}

.feature-btn:hover {
  background: #0027ae;
  color: white;
}


.feature-icon {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 0; /* Remover margem inferior */
}

@media (max-width: 768px) {
  .companies img {
      width: 100px;
  }

  .companies {
      flex-direction: column;
      gap: 30px;
  }

  .main-content {
      flex-direction: column;
  }

  .featuress {
      justify-content: center;
  }

  .feature {
      width: 100%;
  }
}

.relationship-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0027AE;
  margin-bottom: 30px;
  text-transform: uppercase;
}

section .relationship-title {
  font-size: 35px;
  background: transparent;
  color: transparent;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}


/* Ajustes de responsividade */
@media (max-width: 1200px) {
  .main-heading {
    font-size: 48px; /* Reduz título principal */
  }
  
  .subtitle {
    font-size: 14px; /* Ajusta subtítulo */
  }
  
  .featuress {
    flex-wrap: wrap; /* Permite quebra para linhas menores */
    gap: 10px; /* Reduz espaçamento entre elementos */
  }

  .feature {
    min-height: 350px; /* Reduz altura mínima */
    width: 300px; /* Reduz largura */
  }

  .trusted-companies {
    flex-direction: column; /* Organiza empresas verticalmente */
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column; /* Ajusta navbar */
    padding: 10px; /* Reduz espaçamento */
    height: auto;
  }
  
  .nav-links {
    flex-direction: column; /* Links em coluna */
    gap: 10px;
  }

  .cta-button {
    width: 100%; /* Botão ocupa largura completa */
  }

  .help-transform {
    margin-left: 0;
    text-align: center; /* Centraliza em telas menores */
  }
  
  .help-transform h2,
  .help-transform p {
    margin-left: 0;
    max-width: 100%; /* Ajusta largura máxima */
  }
  
  .main-content {
    gap: 10px; /* Reduz espaçamento */
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 36px; /* Ajusta título principal */
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 12px; /* Reduz subtítulo */
    margin-bottom: 20px;
  }

  .new-version-button,
  .get-started-button {
    padding: 8px 16px; /* Ajusta tamanhos dos botões */
    font-size: 14px;
  }

  .blue-heading {
    font-size: 24px;
  }

  .blue-text {
    font-size: 16px;
    line-height: 1.4;
  }

  .companies {
    flex-wrap: wrap;
    gap: 20px; /* Reduz espaçamento */
  }

  .feature {
    width: 90%; /* Ocupa quase toda a largura */
    min-height: 300px; /* Reduz altura mínima */
  }

  .navbar {
    padding: 10px; /* Ajusta padding da navbar */
  }

  .logo img {
    max-width: 150px; /* Reduz tamanho da logo */
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column; /* Elementos em coluna */
    padding: 5px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .feature {
    width: 100%; /* Ocupa toda a largura */
    margin: 10px 0; /* Espaçamento vertical */
  }

  .blue-section {
    padding: 30px 10px; /* Reduz padding da seção azul */
  }

  .main-container {
    padding: 10px;
  }
}


/* Responsividade: Ajustes para telas médias e grandes (a partir de 768px) */
@media (min-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-links {
    gap: 20px;
    display: flex; /* Coloca os links em linha */
    flex-direction: row;
    justify-content: center; /* Centraliza os links */
  }

  .nav-links li a {
    font-size: 16px; /* Ajusta o tamanho da fonte */
  }

  .nav-toggle {
    display: none; /* Esconde o ícone de hambúrguer em telas maiores */
  }
}

/* Responsividade para telas menores (menos de 768px) */
@media (max-width: 767px) {
  .navbar {
    padding: 0 10px;
  }

  .nav-links {
    display: none; /* Esconde os links por padrão */
    position: absolute;
    top: 60px; /* Ajuste para que o menu não fique sobre a navbar */
    left: 0;
    width: 100%;
    background-color: #E8E8E8;
    flex-direction: column; /* Alinha os links na vertical */
    gap: 10px;
    padding: 10px 0;
    text-align: center; /* Centraliza os links */
  }

  .nav-links.active {
    display: flex; /* Exibe os links quando a classe .active for adicionada */
  }

  /* Ícone de menu (hambúrguer) */
  .nav-toggle {
    display: block;
    background-color: #0c36c1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }

  /* Transformação do ícone de menu ao ser ativado */
  .nav-toggle.active::before {
    transform: rotate(45deg);
  }

  .nav-toggle.active::after {
    transform: rotate(-45deg);
  }

  .nav-toggle::before, .nav-toggle::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease;
  }

  .nav-toggle::before {
    top: 8px;
  }

  .nav-toggle::after {
    top: 18px;
  }
}



.cta-button {
  background: radial-gradient(circle, #0027ae, #2f63fb);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 39, 174, 0.5);
  transition: all 0.3s ease;
}

.cta-button:hover{
  box-shadow: 0px 8px 20px rgba(47, 99, 251, 0.6);
  transform: translateY(-5px);
}

.logo {
  display: flex;
  align-items: center;
  color: #E8E8E8;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%; /* Adapta ao tamanho da navbar */
  margin-left: 15px;
  transition: opacity 0.3s ease; /* Suaviza a transição */
}

.logo img {
  max-height: 100%; /* Garante que a altura da imagem não ultrapasse a navbar */
  max-width: 205px; /* Mantém largura máxima específica */
  height: auto; /* Proporções corretas */
  width: auto; /* Mantém proporção */
}

.logo img:hover {
  opacity: 0.7; /* Define a opacidade no hover (ajustável entre 0 e 1) */
}
/* Contêiner Principal */
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #E8E8E8;
  padding: 20px;
}

/* Botão New Version */
.new-version-button {
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #E8E8E8;
  background-color: #0c36c1;
  border: 1px solid blue;
  border-radius: 32px;
  box-shadow: 0 4px 6px 0 #0027ae;
  padding: 10px 20px;
  margin-bottom: 20px; /* Espaçamento abaixo do botão */
  cursor: pointer;
}

/* Limite de Largura e Centralização do Texto */
.text-container {
  max-width: 900px; /* Limite menor da largura para dividir as linhas */
  width: 100%; /* Responsividade */
  word-wrap: break-word; /* Garante quebra de palavras */
}

/* Frase Principal */
.main-heading {
  font-family: 'Sora', sans-serif;
  font-size: 64px;
  color: #000000;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  animation: fadeInDown 1.5s ease;
}

.main-heading span {
  color: #1845d5;
  font-weight: bold;
  animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #1845d5;
  }

  100% {
    color: #2f63fb;
  }
}

.subtitle {
  font-family: 'Sora', sans-serif;
  font-size: 18px;
  color: #9ea3bf;
  margin-bottom: 30px;
  animation: fadeIn 1.5s ease;
}

.get-started-button {
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #E8E8E8;
  background-color: #1845d5;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 39, 174, 0.5);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
  background-color: #2f63fb;
  transform: translateY(-3px);
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pag-site {
  width: 100%;
  padding: 50px 20px;
  background-color: #0714a7;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

/* Estilo do SVG Wave */
.wave-footer {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: relative;
  bottom: 0;
  margin-top: -5px; /* Remove o espaço extra */
}

.wave-footer svg {
  display: block;
  width: 100%;
  height: auto;
}

/* Nova Seção Azul */
.blue-section {
  width: 100%; /* Garante que ocupe 100% da largura */
  background-color: #1845d5; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  padding: 50px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total da tela */
}

.blue-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blue-text {
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

.section {
  background-color: #E8E8E8;
  padding: 50px 20px;
  text-align: center;
}

.trusted-companies {
  margin-bottom: 40px;
}

.trusted-companies p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.companies {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.company {
  text-align: center;
  margin-bottom: 125px;
}

.company img {
  width: 100px;
  height: auto;
  filter: grayscale(0%);
  transition: filter 0.3s;
}

.company img:hover {
  filter: grayscale(40%);
}

.company-name {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  font-weight: 600;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.help-transform {
  flex: 1 1 300px;
  text-align: left;
}

.help-transform h2 {
  font-size: 45px;
  margin-left: 50px;
  color: #0027AE;
  margin-bottom: 10px;
  max-width: 500px;
}

.help-transform p {
  font-size: 22px;
  color: #555;
  max-width: 400px;
  margin-left: 50px;
  margin-top: 10px;
}

.features {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  perspective: 1000px; /* Permite o efeito 3D */
}

.feature {
  background: linear-gradient(to bottom right, #2f63fb, #0027ae);
  color: white;
  border-radius: 15px;
  padding: 20px;
  margin-right: 15px;
  width: 350px; /* Largura fixa */
  min-height: 400px; /* Altura mínima para caber o conteúdo */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  position: relative;
}

.feature:hover {
  transform: rotateY(15deg) rotateX(5deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.)
}
 
/* Seção de serviços */
.page-section {
  padding: 80px 0;
  background-color: #E8E8E8;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Título da seção */
.section-heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.section-subheading {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 40px;
}

/* Estilos para os ícones e colunas */
.fa-stack {
  margin-bottom: 20px;
}

.text-primary {
  color: #007bff;
}

/* Colunas de serviços */
.row {
  display: flex;
  justify-content: space-between;
}

.col-md-4 {
  text-align: center;
  padding: 20px;
  flex: 1;
  max-width: 30%;
}

.col-md-4 h4 {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #333;
}

.col-md-4 p {
  font-size: 1rem;
  color: #6c757d;
}

/* Responsividade */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
      align-items: center;
  }
}
  .col-md-4 {
      max-width: 80%;
      margin-bottom: 40px;
  }

  
  .page-section {
    padding: 60px 0;
    background-color: #E8E8E8;
    text-align: center;
}

.section-heading {
    font-size: 2.5rem;
    color: #0027AE; /* Updated color for heading */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-subheading {
    font-size: 1.25rem;
    color: #6c757d;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Increased gap between cards */
}

.col-md-4 {
    flex: 1 1 300px;
    max-width: 300px;
    text-align: center;
    background: #E8E8E8;
    border-radius: 8px;
    border: #0027AE solid 1px;
    box-shadow: 0 4px 6px #0027AE;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 20px; /* Added margin between top of cards and subheading */
}

.col-md-4:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.fa-stack {
    margin: 20px 0;
}

.fa-circle {
    color: #007bff;
}

.fa-stack-1x {
    color: #E8E8E8;
}

.my-3 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin: 20px 0;
}

.text-muted {
    color: #6c757d !important;
    font-size: 2rem;
    padding: 0 20px;
    margin-right: 35px;
    margin-bottom: 20px;
    text-align: start;
    width: 270px;
}

.img-fluid {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  height: auto;
  margin-top: 20px;
}

@media (max-width: 768px) {
    .section-heading {
        font-size: 2rem;
    }

    .section-subheading {
        font-size: 1rem;
    }

    .col-md-4 {
        margin-bottom: 30px;
    }
}

.container {
  max-width: none;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 70px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.highlight{
font-weight: bold;
color: #0027AE;
}

.toggle-switch {
  display: inline-flex;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.toggle-label {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.toggle-label.active {
  background-color: #fff;
  font-weight: bold;
  box-shadow: 4 4px 8px rgba(0,0,0,0.1);
  border: #000000 solid 1px;
}

.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Distribui os itens sem adicionar espaços ao redor */
    gap: 30px; /* Se precisar de um pequeno espaço entre os itens */
    margin-left: auto;
}


.pricing-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0027AE;
  width: 100%; /* Remover se não precisar de 100% */
  max-width: 380px; /* Limita a largura dos cartões */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.icon{
  font-size: 24px;
  margin-right: 8px;
}

.plan-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.card-price {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

.price{
font-size: 2.2rem;
  font-weight: bold;
}

#price{
  font-size: 2.2rem;
    font-weight: bold;
  }
.period{
font-size: 1rem;
  font-weight: normal;
  color: #777;
}

.plan-description {
  color: #777;
  margin-bottom: 20px;
  width: auto;
}

.features-list {
margin-bottom: 20px;
  list-style: none;
  padding-left: 20px;
  margin-bottom: auto; /* Faz com que o conteúdo acima do botão "empurre" o botão para baixo */
  width: auto; /* Ou largura específica se necessário */
}

.features-list li {
position: relative;
margin-bottom: 8px;
}

.features-list li::before{
content: "•";
  position: absolute;
  left: -10px;
  top: 0;
  color: #777;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
   width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Empurra o botão para o final */
  margin-top: 20px;
}

/* Botão estilizado com transições e efeitos */
.btn.primary {
  background: linear-gradient(45deg, #091eff, #3546fc); /* Gradiente no fundo do botão */
  color: #fff; /* Cor do texto */
  padding: 12px 24px; /* Espaçamento interno para melhor aparência */
  font-size: 16px; /* Tamanho do texto */
  font-weight: bold; /* Texto em negrito */
  border: none; /* Sem bordas */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: all 0.3s ease; /* Transições suaves */
  animation: glowEffect 1.5s infinite alternate; /* Adiciona animação */
}

.btn.primary:hover {
  background-color: #3949ab; /* Cor ao passar o mouse */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Intensifica a sombra ao hover */
  transform: translateY(-2px); /* Elevação do botão ao passar o mouse */
}

.btn.primary:active {
  background-color: #0d173b; /* Cor ao clicar */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduz a sombra ao clicar */
  transform: translateY(0); /* Remove elevação ao clicar */
}

.btn.secondary {
  background-color: white; /* Cor de fundo neutra */
  color: #0027AE; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno menor */
  font-size: 18px; /* Tamanho do texto menor */
  border: 1px solid #0027AE; /* Borda discreta */
  border-radius: 6px; /* Bordas ligeiramente arredondadas */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra muito leve */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: all 0.2s ease; /* Transições mais sutis */
  font-weight: bold;
  
}

.btn.secondary:hover {
  background-color: blue; /* Fundo um pouco mais claro ao passar o mouse */
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15); /* Sombra ligeiramente mais forte */
}

.btn.secondary:active {
  background-color: white; /* Fundo mais escuro ao clicar */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra reduzida ao clicar */
}


/* Responsive adjustments */
@media (min-width: 768px) {
.pricing-card {
      max-width: 320px;
  }
  h1{
    font-size: 3rem;
  }
}

.toggle-label {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.toggle-label.active {
  background-color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.images-plan {
  height: auto;
  width: 30px;
  margin-right: 10px;
}

.software {
  background-color: #E8E8E8;
}

/* Contêiner principal */
.faq-container {
  width: 90%;
  max-width: 800px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px #0027AE;
  font-size: 16px;
}

/* Título principal */
.faq-container h1 {
  text-align: center;
  font-size: 2.5em;
  color: #0027AE;
  margin-bottom: 30px;
  
}

/* Itens de FAQ */
.faq-item {
  margin-bottom: 20px;
}

/* Pergunta */
.question {
  font-size: 1.2em;
  color: #0026aed8;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover na pergunta */
.question:hover {
  background-color: #e0f1ff;
  transform: translateY(-2px);
}

/* Resposta */
.answer {
  font-size: 1em;
  color: #555;
  padding: 15px;
  background-color: white;
  border-left: 4px solid #0027AE;
  margin-top: 10px;
  display: none;
  border-radius: 8px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Resposta visível com animação */
.answer.show {
  display: block;
  opacity: 1;
}

/* Responsividade para dispositivos de tamanhos médios (tablets) */
@media (max-width: 768px) {
  .faq-container {
      width: 95%;
      padding: 25px;
  }

  h1 {
      font-size: 2.2em;
  }

  .question {
      font-size: 1.1em;
      padding: 12px;
  }

  .answer {
      font-size: 0.95em;
  }
}

/* Responsividade para dispositivos pequenos (celulares) */
@media (max-width: 480px) {
  .faq-container {
      width: 95%;
      padding: 15px;
  }

  h1 {
      font-size: 1.8em;
  }

  .question {
      font-size: 1em;
      padding: 10px;
  }

  .answer {
      font-size: 0.9em;
  }
}

/* Responsividade para telas extra pequenas (dispositivos com tela menor) */
@media (max-width: 320px) {
  .faq-container {
      width: 100%;
      padding: 10px;
  }
  @media (min-width: 1200px) {
    .pricing-cards {
        justify-content: space-between;
        flex-wrap: nowrap; /* Garante que os cartões fiquem em linha */
    }
}

  h1 {
      font-size: 1.5em;
  }

  .question {
      font-size: 0.9em;
      padding: 8px;
  }

  .answer {
      font-size: 0.85em;
  }
}

.planos {
  color: #0027AE;
  font-weight: bold;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 40px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.footer p {
  margin-top: 10px;
  font-size: 12px;
  color: #6c757d;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Logo e Nome Igual ao Nav */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #152446;
}

.footer-logo img {
  width: 24px;
  height: 24px;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-left: 75px;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #152446;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 12px;
}

.footer-social a {
  text-decoration:black none;
  color: #fff;
  margin: 0 10px;
  font-size: 14px;
}

.footer-social a:hover {
  color: #f1c40f;
}

.footer-social a img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease;
}

.footer-social a:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  font-size: 12px;
}

.footer-bottom p {
  margin: 0;
}

/* Chat Container */
.chat-container {
  display: flex;
  position: relative;
  left: 100px;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.chat-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}

/* Texto e Cards */
.info-section {
  flex: 1; /* Permite que o texto ocupe mais espaço */
  min-width: 300px; /* Evita que o texto fique muito estreito */
  margin-right: 20px; /* Espaçamento entre texto e imagem */
}

/* Cards */
.cards-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);   /* Duas colunas */
  gap: 20px; /* Espaçamento entre os cards */
  margin-top: 30px;
  position: relative;
  top: 25px;
  margin-left: -20px; /* Move um pouco para a esquerda */
}

.card {
  padding: 20px;
  background-color: #1845d5;
  border-radius: 12px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
}

.card p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.6;
}

/* Efeito de hover */
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsivo */
@media (max-width: 768px) {
  .cards-info {
    grid-template-columns: 1fr;
    /* Altera para uma coluna em telas pequenas */
  }
}

.text-section {
  max-width: 3000px;
  bottom: 15px;
}

.text-section h1 {
  font-size: 3.5rem; /* Ajuste o tamanho conforme necessário */
  overflow: hidden; /* Garante que não transborde */
  color: #E8E8E8;
}

.text-section .highlight {
  color: #18d541;
  font-weight: bold;
}

.text-section p {
  font-size: 1.1rem;
  margin: 15px 0;
  color: #E8E8E8;
  line-height: 1.8;
}

.chat-message {
  max-width: 70%;
  margin: 8px;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
}

.chat-message.client {
  background-color: #2f63fb;
  color: white;
  align-self: flex-start;
  border-bottom-right-radius: 0;
}

/* Mensagens enviadas pelo agente */
.chat-message.agent {
  background-color: #e8e8e8;
  color: #333;
  font-weight: bolder;
  align-self: flex-end;
  border-bottom-left-radius: 0;
}

.message-time {
  font-size: 10px;
  color: #aaa;
  position: absolute;
  bottom: 2px;
  right: 3px;
}

.chat-message.client .message-time {
  color: white;
}

/* Cor do tempo para as mensagens do agente (cinza) */
.chat-message.agent .message-time {
  color: gray;
}


.message-text {
  font-size: 14px;
}

.chat-message.client .message-text {
  margin-left: 10px;
}

.chat-message.agent .message-text {
  margin-right: 10px;
}

/* Adiciona o ícone ao lado das mensagens */
.message-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: auto;
}

.chat-message.client .message-icon {
  margin-left: 10px;
}

.chat-message.agent .message-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .chat-message {
    max-width: 90%;
    font-size: 14px;
  }

  .chat-container {
    padding: 10px;
  }
}

/* Botões */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  align-items: center; /* Centraliza verticalmente */
  margin-right: 10px;
}

.button-container button {
  width: 60px;
  height: 60px;
  padding: 0 10px;
  font-size: 15px;
  border: 2px solid #e8e8e8;
  background: transparent;
  border-radius: 12px;
  color: #e8e8e8;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.button-container button.active,
.button-container button:hover {
  background-color: #e8e8e8;
  color: #1B2B50;
}

/* Animações */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animação */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .chat-container {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

 .text-section, .chat-container {
    width: 100%;
 }

  .text-section h1 {
    font-size: 2rem;
  }

  .text-section p {
    font-size: 0.9rem;
  }

  .chat-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .button-container {
    margin-left: 0;
    justify-content: center;
    margin-top: 10px;
  }

  .button-container button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .text-section h1 {
    font-size: 28px;
  }

  .text-section p {
    font-size: 16px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .button-container button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

#DFB {
  margin-right: 55px;
}


.social-icon {
  width: 34px; /* ajuste o valor conforme necessário */
  height: auto; /* ajuste o valor conforme necessário */
  object-fit: contain; /* para garantir que a imagem seja redimensionada proporcionalmente */
}


.pag-site {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 50px auto;
  width: 90%; /* Aumente o espaço para evitar que o texto quebre */
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;

}

.text-section {
  max-width: 100%;
}

.highlight {
  color: #3546fc;
  font-weight: bold;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: end; /* Centraliza os botões */
}

.img-button {
  padding: 10px 15px;
  background-color: #152446;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.img-button:hover {
  background-color: #1e3a66;
}

.image-container img {
  margin-top: 55px;
  margin-right: 155px;
}

.layout-container {
  display: flex;
  justify-content: space-between; /* Garante que os itens sejam distribuídos de forma espaçada */
  width: 90%; /* Aumente o espaço para evitar que o texto quebre */
}


.wave-footer svg {
  width: 100%;
  display: block;
}

.cta-button1 {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background-color: #18d55a;
    color: white;
    font-weight: bold;
    font-family: 'Sora', sans-serif;
    cursor: pointer;
    transition: 0.3s;
  
}

.cta-button1:hover{
  box-shadow: 0px 8px 20px rgba(50, 251, 47, 0.6);
  transform: translateY(-5px);
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os botões */
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px;
}

.button-container button {
  flex: 0 0 calc(50% - 10px); /* Cada botão ocupa 50% da largura menos o espaçamento */
  max-width: 200px; /* Limite máximo opcional */
}

